.app-content {
  flex: 1;
  overflow-y: auto;
}
 
@media (min-width: 768px) {
  .app-content {
    margin-left: 240px;
  }
 
  :host-context(.collapsed) .app-content {
    margin-left: 65px;
  }
}

.data-room-container {
  padding: 20px;
}

.section-header {
  padding-bottom: 10px;
  position: relative;

  h2 {
    font-size: 16px;
    font-weight: 600;
    color: #0d5cb9;
    margin: 0;
    display: inline-block;
    position: relative;
    padding-bottom: 6px;

    &::after {
      content: '';
      display: block;
      width: 100px; /* length of underline */
      height: 1px;
      background-color: #0d5cb9;
      border-radius: 2px;
      margin-top: 4px;
    }
  }
}




  @media (min-width: 992px)and (max-width: 1409px) {

      .section-header h2{
    font-size: 16px;
}
    
   }


@media (min-width: 1410px)and (max-width: 1585px) {

    .section-header h2{
    font-size: 17px;
}
    
    }

  @media (min-width: 1586px)and (max-width: 1691px) {

      .section-header h2{
    font-size: 18px;
}
 
  }

  @media (min-width: 1692px)and (max-width: 1901px) {

      .section-header h2{
    font-size: 20px;
}
  }

  @media (min-width: 1902px)and (max-width: 2536px) {

      .section-header h2{
    font-size: 21px;
}

  }
    
   


@media (min-width: 1410px)and (max-width: 1585px) {
    
    }

  @media (min-width: 1586px)and (max-width: 1691px) {
 
  }

  @media (min-width: 1692px)and (max-width: 1901px) {
  }

  @media (min-width: 1902px)and (max-width: 2536px) {

  }