<header class="app-header">
<!-- Logo and Toggle -->
<div class="left-section">
<img class="logo-img" src="assets/images/logo/logo-new.svg" alt="Nexa" />
<button class="menu-toggle" (click)="onToggle()" aria-label="Toggle Sidebar">
      ☰
</button>
</div>
 
 
<!-- <div class="center-section">
<div class="search-box">
<input type="text" placeholder="Search..." />
<span class="search-icon">🔍</span>
</div>
</div> -->
  <!-- <select (change)="changeLang($event)">
  <option value="en">{{ 'HEADER.LANGUAGE.ENGLISH' | translate }}</option>
  <option value="ar">{{ 'HEADER.LANGUAGE.ARABIC' | translate }}</option>
</select> -->
<!-- Profile -->


<div class="right-section" *ngIf="userDetails$ | async as userDetails">

<div class="right-section notification-container">
  <div class="notification-bell" (click)="toggleDropdown()">
    <i class="fa fa-bell"></i>
    <span class="badge" *ngIf="unreadCount > 0">{{ unreadCount }}</span>
  </div>

  <div class="dropdown" *ngIf="showDropdown">
    <div class="dropdown-header">Notifications</div>
    <div class="dropdown-body">
      <div
         *ngFor="let notif of unreadNotifications | slice:0:4"
        class="notification-item"
        [class.unread]="!notif.isRead"
        (click)="onNotificationClick(notif)">
        <div class="title">{{ notif.title }}</div>
        <div class="message">{{ notif.message }}</div>
        <div class="time">{{ notif.createdAt | date:'short' }}</div>
      </div>

      <div *ngIf="unreadNotifications.length === 0" class="no-notifications">
        No notifications
      </div>

      <!-- View All button -->
      <div *ngIf="unreadNotifications.length > 4" class="view-all-btn">
        <button (click)="navigateToAllNotifications()">View All</button>
      </div>
    </div>
  </div>
</div>




  <img class="profile-img" src="assets/images/logo/imgs.jpg" alt="Profile" />
  <div class="profile-info">
    <div class="name" [matTooltip]="userDetails.user.name">
      {{ 'HEADER.WELCOME' | translate }}, {{ userDetails.user.name | slice:0:6 }}<span *ngIf="userDetails.user.name.length > 6">...</span>
    </div>
    <div class="role">{{ 'HEADER.ROLE.USER' | translate }}</div>
  </div>


  
</div>
</header>

 
            
<!-- <div class="header">
  <div>

    <h1 class="m-0">My Data Rooms</h1>

  </div>  


  <div *ngIf="userDetails$ | async as userDetails" class="text-end" style="float:end">
    <span >
      Welcome, <strong>{{ userDetails.user.name }}</strong>
      <span *ngIf="userDetails.user.isExternal">(External)</span>
    </span>
    <span class="badge text-white" [ngStyle]="{
        'background-color': userDetails.user.isExternal ? '#9b59b6' : '#3498db'
      }">
      {{ userDetails.user.isExternal ? 'External User' : 'Internal User' }}
    </span>
  </div>
</div> -->


