



  <ng-container *ngIf="pagedDataRooms.length > 0; else noData">

    <div class="table-container table-container-approval-active">
    <table mat-table [dataSource]="pagedDataRooms" matSort class="table" [matSortActive]="activeSort" [matSortDirection]="sortDirection" (matSortChange)="onSortChange($event)">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ACTIVE.NAME' | translate }}</th>
        <td mat-cell *matCellDef="let room">
          {{ room.name }}
        </td>
      </ng-container>

  <ng-container matColumnDef="companyname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ACTIVE.COMPANY_NAME' | translate }}</th>
        <td mat-cell *matCellDef="let room">
          {{ room.companyName }}
        </td>
      </ng-container>


      <!-- Expiration Date Column -->
      <ng-container matColumnDef="expires">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ACTIVE.EXPIRATION_DATE' | translate }}</th>
        <td mat-cell *matCellDef="let room">
          <i class="far fa-calendar-alt"></i> {{ room.expires }}
        </td>
      </ng-container>

      <!-- Users Column -->
      <ng-container matColumnDef="users">
  <th mat-header-cell *matHeaderCellDef >{{ 'ACTIVE.DEFAULT_PERMISSION' | translate }}</th>
        <td mat-cell *matCellDef="let room">
          <i class="fas fa-users"></i> {{ room.permission }}
        </td>
      </ng-container>

      <!-- Files Column -->
      <ng-container matColumnDef="files">
      <th mat-header-cell *matHeaderCellDef >{{ 'ACTIVE.FILES' | translate }}</th>
        <td mat-cell *matCellDef="let room">
          <i class="fas fa-file"></i> {{ room.files }}
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>{{ 'ACTIVE.ACTIONS' | translate }}</th>
        <td mat-cell *matCellDef="let room" class="taC">
          <button class="icon-btn view-icon font-12" (click)="navigateToDetail(room)" matTooltip="{{ 'ACTIVE.VIEW' | translate }}">
            <i class="fas fa-eye"></i>
          </button>
    
        </td>
      </ng-container>

      <!-- Header and Row Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
    <mat-paginator *ngIf="filteredDataRooms.length > 10"
      [length]="filteredDataRooms.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[10, 20, 30]"
      showFirstLastButtons
      (page)="currentPage = $event.pageIndex; pageSize = $event.pageSize; updatePagedData()"
    >
    </mat-paginator>
  </ng-container>

  <ng-template #noData>
    <div class="no-data-message" style="text-align:center; padding: 40px 0;">
      <img src="assets/images/nodata.svg" alt="No Data Found" class="no-data-new-message" style="    height: 211px;" />
      <div>{{ 'NO_DATA_FOUND' | translate }}</div>
    </div>
  </ng-template>
