/* based on angular-toastr css https://github.com/Foxandxss/angular-toastr/blob/cb508fe6801d6b288d3afc525bb40fee1b101650/dist/angular-toastr.css */

/* position */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; // ✅ change here
}


.mat-elevation-z8 {
  box-shadow: none !important;
  background: #fff;
  border-radius: 6px;
  height: 84vh;
  border: 1px solid #e8e8e8;
  margin: 15px;
  padding: 15px;
}

span.breadcrumb-current {
  font-size: 12px;
  color: #515151;
  padding-left: 5px;
}

span.breadcrumb-separator {
  padding: 0;
  display: block;
  margin: -3px 5px;
  color: #000;
}

.expires-info .mat-icon {
  height: 14px;
  width: 15px;
  align-items: baseline;
}

.calendar-icon.small {
  font-size: 14px !important;
}

.d-flex {
  display: flex;
  padding: 0 20px 0 0;
}

.app-content {
  flex: 1;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .app-content {
    margin-left: 240px;
  }

  :host-context(.collapsed) .app-content {
    margin-left: 65px;
  }
}

.data-room-container {
  padding: 20px;
}

.section-header {

  position: relative;

  h2 {
    font-size: 16px;
    font-weight: 600;
    color: #0d5cb9;
    margin: 0;
    display: inline-block;
    position: relative;
    padding-bottom: 6px;

    &::after {
      content: '';
      display: block;
      width: 100px;
      /* length of underline */
      height: 1px;
      background-color: #0d5cb9;
      border-radius: 2px;
      margin-top: 4px;
    }
  }
}

button.icon-btn {
  background: #fff;
  border: none;
}

.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-left {
  top: 12px;
  left: 12px;
}

.toast-top-right {
  top: 12px;
  right: 12px;
}

.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}

.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

/* toast styles */
.toast-title {
  font-weight: bold;
}

.toast-message {
  word-wrap: break-word;
}

.toast-message a,
.toast-message label {
  color: #FFFFFF;
}

.toast-message a:hover {
  color: #CCCCCC;
  text-decoration: none;
}

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 0 1px 0 #ffffff;
  /* opacity: 0.8; */
}

.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}

/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}

.toast-container * {
  box-sizing: border-box;
}

.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  color: #FFFFFF;
}

.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}

.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.ngx-toastr {
  background-color: #030303;
  pointer-events: auto;
}

.toast-success {
  background-color: #51A351;
}

.toast-error {
  background-color: #BD362F;
}

.toast-info {
  background-color: #2F96B4;
}

.toast-warning {
  background-color: #F89406;
}

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}

/* Responsive Design */
@media all and (max-width: 240px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }

  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}

@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }

  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container .ngx-toastr.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}

@import '@angular/material/prebuilt-themes/indigo-pink.css';

.table-container .table>tbody>tr {
  font-family: poppins;
  font-size: 11px;
  height: 40px;
  display: table;
  width: 100%;
  color: #404040;
  table-layout: fixed;
}

.table-container {
  // padding-left: 15px;
  position: relative;
  // overflow: auto;
  // height: 420px;
  // margin-left: 11px;
}



.table-container {
  padding: 0 7px !important;

  .table>thead,
  .table>thead>tr,
  .table>tbody>tr {
    font-family: poppins;
    font-size: 12px;
    color: #404040;
    display: table;
    width: 100%;
    table-layout: fixed;
    vertical-align: middle;

  }

}

@media (min-width: 992px)and (max-width: 1409px) {

  .table-container {
    padding: 0 7px !important;

    .table>thead,
    .table>thead>tr,
    .table>tbody>tr {
      font-family: poppins;
      font-size: 13px;


    }

  }

}


@media (min-width: 1410px)and (max-width: 1585px) {

  .table-container {
    padding: 0 7px !important;

    .table>thead,
    .table>thead>tr,
    .table>tbody>tr {
      font-family: poppins;
      font-size: 15px;


    }

  }

}

@media (min-width: 1586px)and (max-width: 1691px) {
  .table-container {
    padding: 0 7px !important;

    .table>thead,
    .table>thead>tr,
    .table>tbody>tr {
      font-family: poppins;
      font-size: 17px;


    }

  }

}

@media (min-width: 1692px)and (max-width: 1901px) {
  .table-container {
    padding: 0 7px !important;

    .table>thead,
    .table>thead>tr,
    .table>tbody>tr {
      font-family: poppins;
      font-size: 18px;


    }

  }
}

@media (min-width: 1902px)and (max-width: 2536px) {
  .table-container {
    padding: 0 7px !important;

    .table>thead,
    .table>thead>tr,
    .table>tbody>tr {
      font-family: poppins;
      font-size: 20px;


    }

  }

}


.custom-tab-group .mat-tab-label {
  background-color: transparent;
  color: #333;
  padding: 12px 20px;
}

.custom-tab-group .mat-tab-label.mat-tab-label-active {
  background-color: #1976d2;
  color: white;
  border-radius: 4px 4px 0 0;
}


.fixed-sidebar {
  position: fixed;
  top: 60px;
  /* Adjust based on header height */
  left: 0;
  height: calc(100% - 60px);
  /* Adjust based on header height */
  width: 250px;
  /* Adjust based on sidebar width */
  background-color: #f4f4f4;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}




.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.fixed-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #f1f1f1;
  background: #fcfcfc;
}

.dialog-body {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
}

.fixed-footer {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  padding: 12px 16px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  background: #f6f6f6;
}


.section-title {
  margin-bottom: 0;
}



.section-title h2 {
  display: inline-block !important;
  border-bottom: 1px solid #0E5BB7 !important;
  // padding-bottom: 8px;
  margin: 0 !important;
  font-size: 0.9rem !important;
  letter-spacing: 1px !important;
  font-weight: 600 !important;
  color: #0E5BB7 !important;
  font-family: poppins !important;
}

@media (max-width:600px) {
  .section-title h2 {
    margin-top: 20px;
    display: inline-block;
    border-bottom: 1px solid #0E5BB7 !important;
    // padding-bottom: 8px;
    margin: 0;
    font-size: 1rem !important;
    letter-spacing: 1px;
    font-weight: 600;
    color: #0E5BB7 !important;
    // margin-left: 40px;
  }
}

@media (min-width: 1586px)and (max-width: 1691px) {
  .section-title h2 {
    font-size: 17px !important;
    margin-bottom: 6px !important;
  }
}

@media (min-width: 1692px)and (max-width: 1901px) {
  .section-title h2 {
    font-size: 18px !important;
    margin-bottom: 7px !important;
  }
}

@media (min-width: 1902px)and (max-width: 2536px) {
  .section-title h2 {
    font-size: 20px !important;
    margin-bottom: 9px !important;
  }
}

.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}

.close-tooltip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  text-decoration: none !important;
  font-size: 16px;

  &:hover {
    color: #e74c3c;
  }

  i.material-icons {
    font-size: 18px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.nav-tabs .nav-link {
  letter-spacing: .6px;
  font-size: 13px;
  color: #000 !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  letter-spacing: .6px;
  font-size: 13px;
  color: #fff !important;
  background-color: #0e5bb7;
  border-color: #dee2e6 #dee2e6 #dee2e6;
}


.download-icon {
  color: #3f87f5;
  /* Purple */
}

.edit-icon {
  color: #ff9800;
  /* Orange */
}

.delete-icon {
  color: #de4436;
  /* Bright Red */
}

.view-icon {
  color: #00c9a7;
  /* Cyan */
}

.pad_0 {
  padding: 0;
}

.btn-success {
  background-color: #84b936 !important;
  border-color: #84b936 !important;
  opacity: unset !important;
  color: #fff !important;
  white-space: nowrap !important;
}

.custom-button.btn-danger {
  background-color: #ee636d;
  color: #fff;
}

.btn-danger {
  background-color: #ee636d;
  color: #fff;
}

.table-container .table>tbody>tr button {
  border: none;
  background: none;
  font-size: 14px;
}

.table-container .table>tbody>tr button .mat-icon {
  vertical-align: middle;
  height: 20px;
  width: 18px;
  font-size: 16px;
}

.mat-icon .table-container {
  padding: 0 20px !important;

  .table>thead,
  .table>thead>tr,
  .table>tbody>tr {
    font-family: poppins;
    font-size: 12px;
    color: #404040;
    display: table;
    width: 100%;
    table-layout: fixed;

  }


  @media (min-width: 1410px)and (max-width: 1585px) {

    .table>thead,
    .table>thead>tr,
    .table>tbody>tr {
      font-family: poppins;
      font-size: 13px !important;
      color: #404040;
      display: table;
      width: 100%;
      height: 45px;
      table-layout: fixed;

    }

    .truncate-data {
      font-size: 13px !important;
    }
  }

  @media (min-width: 1586px)and (max-width: 1691px) {

    .table>thead,
    .table>thead>tr,
    .table>tbody>tr {
      font-family: poppins;
      font-size: 15px !important;
      color: #404040;
      display: table;
      // border-bottom: none;
      width: 100%;
      height: 51px;
      table-layout: fixed;

    }

    .truncate-data {
      font-size: 14px !important;
    }

  }


  @media (min-width: 1692px)and (max-width: 1901px) {

    .table>thead,
    .table>thead>tr,
    .table>tbody>tr {
      font-family: poppins;
      font-size: 15.5px !important;
      color: #404040;
      display: table;
      // border-bottom: none;
      width: 100%;
      height: 56px;
      table-layout: fixed;

    }

    .truncate-data {
      font-size: 15.5px !important;
    }



  }



  @media (min-width: 1902px)and (max-width: 2536px) {

    .table>thead,
    .table>thead>tr,
    .table>tbody>tr {
      font-family: poppins;
      font-size: 17.5px !important;
      color: #404040;
      display: table;
      // border-bottom: none;
      width: 100%;
      height: 60px;
      table-layout: fixed;

    }

    .truncate-data {
      font-size: 17px !important;
    }


  }


  .table>tbody> {
    display: block;
    overflow: auto;
    // height: 315px !important;
    /* Adjust based on your requirement */
    width: 100%;
    height: 43vh !important;

  }

  @media (min-width: 992px)and (max-width: 1409px) {
    .table>tbody {
      display: block;
      overflow: auto;
      height: 38vh;
      width: 100%;
      // background: red;

    }

  }

  @media (min-width: 1410px)and (max-width: 1585px) {
    .table>tbody {
      display: block;
      overflow: auto;
      height: 47vh;
      width: 100%;
      // background: red;

    }


  }

  @media (min-width: 1586px)and (max-width: 1691px) {
    .table>tbody {
      display: block;
      overflow: auto;
      // height: 450px !important;
      /* Adjust based on your requirement */
      height: 51vh;
      width: 100%;
      // background-color: #1976d2;

    }
  }

  @media (min-width: 1692px)and (max-width: 1901px) {
    .table>tbody {
      display: block;
      overflow: auto;
      // height: 500px !important;
      /* Adjust based on your requirement */
      height: 52.5vh;
      width: 100%;

    }
  }

  @media (min-width: 1902px)and (max-width: 2536px) {
    .table>tbody {
      display: block;
      overflow: auto;
      // height: 580px !important;
      /* Adjust based on your requirement */
      height: 55vh;
      width: 100%;

    }
  }
}




// error-component
.error-container {
  text-align: center;
  background-color: white;
  font-family: poppins, sans-serif;
  height: 100%;
}

.error-image {
  margin-bottom: 20px;
}

.error-message {
  font-size: 1.5em;
  color: #555;
  margin-bottom: 20px;
}

.redirect-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.redirect-button:hover {
  background-color: #0056b3;
}


.no-data-message {
  height: 55vh;
  width: 95%;
  margin: auto;
  align-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ddd;
  color: #333;
  font-size: 16px;
}



@media (min-width: 992px)and (max-width: 1410px) {

  .no-data-message {
    height: 59.5vh;
    width: 99.5%;
    margin: auto;
    align-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #333;
    font-size: 16px;
  }
}

@media (min-width: 1411px) and (max-width: 1585px) {

  .no-data-message {
    height: 63.5vh;
    width: 99.5%;
    margin: auto;
    align-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #333;
    font-size: 16px;
  }

}

@media (min-width: 1586px)and (max-width: 1691px) {
  .no-data-message {
    height: 59vh;
    width: 100%;
    margin: auto;
    align-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #333;
    font-size: 16px;
  }
}


@media (min-width: 1692px)and (max-width: 1902px) {
  .no-data-message {
    height: 67vh;
    width: 99.5%;
    margin: auto;
    align-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #333;
    font-size: 16px;
  }
}


@media (min-width: 1903px)and (max-width: 2559px) {
  .no-data-message {
    height: 69.5vh;
    width: 99.5%;
    margin: auto;
    align-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #333;
    font-size: 16px;
  }
}


.expires-info {
  font-size: 12px;
  color: #0d5cb9;
  display: flex;
  align-items: baseline;
  margin-left: 5px;
}


.data-room-grid,
.file-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

::-webkit-scrollbar {
  width: 2.5px !important;
  /* color:red; */
}

::-webkit-scrollbar-thumb {
  background-color: #e0e0e0 !important;
  /* Color of thumb */
  border-radius: 10px;
  /* Rounded corners */
}

/* Optional: Scrollbar track styling */
::-webkit-scrollbar-track {
  background: transparent;
}




.table-container-approval-transaction {
  overflow-y: auto;
  position: relative;
  padding: 0px 5px !important;
}

@media (min-width: 992px) and (max-width: 1409px) {
  .table-container-approval-transaction {
    height: 55vh !important;
  }

  .mat-mdc-header-row {
    height: 30px !important;
  }

  .mat-mdc-row {
    height: 45px !important;
  }





}

@media (min-width: 1410px) and (max-width: 1585px) {
  .table-container-approval-transaction {
    height: 56vh !important;
  }

  .mat-mdc-header-row {
    height: 42px !important;
  }

  .mat-mdc-row {
    height: 50px !important;
  }




}

@media (min-width: 1586px) and (max-width: 1691px) {
  .table-container-approval-transaction {
    height: 60vh !important;
  }

  .mat-mdc-header-row {
    height: 48px !important;
  }

  .mat-mdc-row {
    height: 54px !important;
  }
}

@media (min-width: 1692px) and (max-width: 1901px) {
  .table-container-approval-transaction {
    height: 62vh !important;
  }

  .mat-mdc-header-row {
    height: 54px !important;
  }

  .mat-mdc-row {
    height: 58px !important;
  }
}

@media (min-width: 1902px) and (max-width: 2536px) {
  .table-container-approval-transaction {
    height: 63vh !important;
  }

  .mat-mdc-header-row {
    height: 58px !important;
  }

  .mat-mdc-row {
    height: 61px !important;
  }
}


// ...///


// bwlow for active room


.table-container-approval-active {
  overflow-y: auto;
  position: relative;
  padding: 0px 5px !important;
}

@media (min-width: 992px) and (max-width: 1409px) {
  .table-container-approval-active {
    height: 64vh !important;
  }

  .mat-mdc-header-row {
    height: 30px !important;
  }

  .mat-mdc-row {
    height: 54px !important;
  }





}

@media (min-width: 1410px) and (max-width: 1585px) {
  .table-container-approval-active {
    height: 66vh !important;
  }

  .mat-mdc-header-row {
    height: 42px !important;
  }

  .mat-mdc-row {
    height: 60px !important;
  }




}

@media (min-width: 1586px) and (max-width: 1691px) {
  .table-container-approval-active {
    height: 68vh !important;
  }

  .mat-mdc-header-row {
    height: 48px !important;
  }

  .mat-mdc-row {
    height: 63px !important;
  }
}

@media (min-width: 1692px) and (max-width: 1901px) {
  .table-container-approval-active {
    height: 69vh !important;
  }

  .mat-mdc-header-row {
    height: 54px !important;
  }

  .mat-mdc-row {
    height: 68px !important;
  }
}

@media (min-width: 1902px) and (max-width: 2536px) {
  .table-container-approval-active {
    height: 71vh !important;
  }

  .mat-mdc-header-row {
    height: 58px !important;
  }

  .mat-mdc-row {
    height: 75px !important;
  }
}


@media (min-width: 992px)and (max-width: 1409px) {

  .mat-elevation-z8 {
    box-shadow: none !important;
    /* background: green; */
    border-radius: 6px;
    height: 84vh;
    margin: 17px;
    // padding: 17px;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    font-size: 12px;
  }

  .nav-tabs .nav-link {
    font-size: 12px;
  }


  .expires-info {
    font-size: 12px;

  }

 

}

@media (min-width: 1410px)and (max-width: 1585px) {
  .mat-elevation-z8 {
    box-shadow: none !important;
    /* background: blue; */
    border-radius: 6px;
    height: 85vh;
    margin: 20px;
    // padding: 20px;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    font-size: 13px;
  }

  .nav-tabs .nav-link {
    font-size: 13px;
  }

  span.breadcrumb-current {
    font-size: 14px;
  }


  .expires-info {
    font-size: 14px;

  }

  .table-container .table>tbody>tr button .mat-icon {
    vertical-align: middle;
    height: 21px;
    width: 17px;
    font-size: 18px;
  }
}

@media (min-width: 1586px)and (max-width: 1691px) {
  .mat-elevation-z8 {
    box-shadow: none !important;
    /* background: red; */
    border-radius: 6px;
    height: 86vh;
    margin: 20px;
    // padding: 20px;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    font-size: 15px;
  }

  .nav-tabs .nav-link {
    font-size: 15px;
  }

  span.breadcrumb-current {
    font-size: 15px;
  }


  .expires-info {
    font-size: 15px;

  }

  .table-container .table>tbody>tr button .mat-icon {
    vertical-align: middle;
    height: 19px;
    width: 20px;
    font-size: 20px;
  }
}

@media (min-width: 1692px)and (max-width: 1901px) {
  .mat-elevation-z8 {
    box-shadow: none !important;
    /* background: pink; */
    border-radius: 6px;
    height: 87vh;
    margin: 20px;
    // padding: 20px;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    font-size: 16px;
  }

  .nav-tabs .nav-link {
    font-size: 16px;
  }

  span.breadcrumb-current {
    font-size: 16px;
  }

  .expires-info {
    font-size: 16px;

  }

  .table-container .table>tbody>tr button .mat-icon {
    vertical-align: middle;
    height: 21px;
    width: 24px;
    font-size: 22px;
  }
}



@media (min-width: 1902px)and (max-width: 2536px) {

  .mat-elevation-z8 {
    box-shadow: none !important;
    /* background: grey; */
    border-radius: 6px;
    height: 88vh;
    margin: 20px;
    padding: 20px;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    font-size: 18px;
  }

  .nav-tabs .nav-link {
    font-size: 18px;
  }

  span.breadcrumb-current {
    font-size: 18px;
  }

  .expires-info {
    font-size: 18px;

  }

  .table-container .table>tbody>tr button .mat-icon {
    vertical-align: middle;
    height: 25px;
    width: 31px;
    font-size: 24px;
  }
}